.icon {
  width: 1.25em !important;
  height: 1.25em !important;
}

.main-container {
  background-color: #f4f5f8;
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 20px;
}

.sidebar-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.chatArea-container {
  flex: 0.7;
}

.sb-header {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.sb-search {
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

textarea:focus,
input:focus {
  outline: none;
}

.search-box {
  outline-width: 0;
  border: none;
  margin-left: 10px;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
}

.sb-conversations {
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  flex: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 10px;
}

.conversation-container {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}
.conversation-container:hover {
  background-color: #d9d9d9;
}


.con-icon {
  grid-area: 1/1/3/2;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #d9d9d9;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  height: 48px;
  width: 48px;
  padding: 2px;

  border-radius: 50%;
  justify-self: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 5px;
}

.con-title {
  grid-area: 1/2/2/4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  text-transform: capitalize;
}

.other-message-container .conversation-container:hover
{
  background-color: white;
}

.other-message-container .con-lastMessage
{
  color: black;
  font-size:medium;
  /* font-style: normal; */
  /* font-weight: bold; */
}

.con-timeStamp {
  justify-self: flex-end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}

.con-lastMessage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  font-weight: lighter;
  font-style: italic;
  color: rgba(0, 0, 0, 0.54);
}

.chatArea-container {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.chatArea-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.messages-container::-webkit-scrollbar {
  display: none;
}
.messages-container::-webkit-scrollbar {
  display: none;
}


.text-input-area {
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.other-text-content {
  background-color: #d9d9d9;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 20px;
  width: max-content;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.self-message-container {
  display: flex;
  justify-content: flex-end;
}

.messageBox {
  display: flex;
  flex-direction: column;
  background-color: #63d7b0;
  width: max-content;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.self-timeStamp {
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .welcome-logo {
  height: 20vw;
} */

.welcome-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 5px solid #63d7b0;
  border-radius: 20px;
}
.createGroups-container {
  flex: 0.7;
  align-self: center;
  padding: 20px 10px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
